<h1>Characters List</h1>
<% @characters.each do |char|%>
  <p><%= "Character Name: #{char.name} | Actor Name: #{char.actor} | Description: #{char.description} | Show: #{char.television_show.title}" %></p>
  <%= link_to "Destroy", char, method: :delete %> 
<%end%>

